# Скомпилированные файлы Python
__pycache__/
*.pyc

# Виртуальные окружения (локальные библиотеки)
venv/
env/

# Настройки редакторов кода (личные настройки IDE)
.idea/
.vscode/

# Системный мусор ОС
.DS_Store
Thumbs.db
